#cart{
    color: white; padding-right: 1.5rem;text-decoration: none
    }
    
    #login{
    color: white;text-decoration: none
    }

    img{
        
        height: 250px;}

    /* p{
        font-size: 2.5 rem;
    } */

    
    #logo{
        font-family: 'Lobster' ;color: yellow;font-size: 2rem;
    }
    #lg{
        color: yellow;font-size: 2rem;
    }
   